<figure class="grid-item" itemprop="associatedMedia" itemscope itemtype="https://schema.org/ImageObject">
    <a href="{{.Site.BaseURL}}{{ .Get "href"}}" itemprop="contentUrl" data-size="{{ .Get "dimension"}}" rotate="{{ .Get "rotation"}}" >
	
	<div class="rotation-wrapper-outer">
	    <div class="rotation-wrapper-inner">
		<img class="rotate-{{ .Get "rotation"}}" alt="{{ .Get "alt"}}" itemprop="thumbnail" src="{{.Site.BaseURL}}{{ .Get "thumbUrl"}}" >
	    </div>
	</div>
    </a>
    
</figure>
